body.login-page,
body.register-page {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-page::before,
.register-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("/images/amsterdam.jpg") no-repeat center center/cover;
  z-index: -1;
}

.login-container {
  background-color: #fffdfd;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 400px;
  z-index: 1;
  height: auto;
}

.site-title {
  position: absolute;
  top: 20px;
  font-size: 35px;
  color: rgb(1, 1, 34);
  text-align: center;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  z-index: 2;
  padding: 0 20px;
  line-height: 1.2;
  max-width: 90%;
}

.site-subtitle {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  text-align: center;
  color: rgb(36, 36, 48);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 2;
  padding: 0 20px;
  line-height: 1.2;
  max-width: 90%;
}

.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  padding: 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #444444;
}

button[type="submit"] {
  width: 85%;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 12px;
}

body.register-page button[type="submit"] {
  background-color: #006b19;
}

body.register-page button[type="submit"]:hover {
  background-color: #458855;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #002955;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .site-title {
    font-size: 30px;
    top: 55px;
    max-width: 90%;
    line-height: 1.2;
  }

  .site-subtitle {
    font-size: 17px;
    max-width: 90%;
    line-height: 1.2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    top: 140px;
  }

  .login-container {
    max-width: 60%;
    font-size: 16px;
    padding: 30px 15px;
    margin-top: 120px;
    border-radius: 15px;
  }

  button[type="submit"] {
    width: 92%;
  }
}
