body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
body.login-page,
body.register-page {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.login-page::before,
.register-page::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("/images/amsterdam.jpg")no-repeat center center/cover;
    z-index: -1;
}
.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 35px;
    border-radius: 20px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px;
    z-index: 1;
    height: auto;
}
.site-title {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: rgb(100, 100, 187);
    font-weight: bold;
    text-align: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    z-index: 2;
    padding: 0 20px;
    line-height: 1.2;
    max-width: 90%;
}
.site-subtitle {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    text-align: center;
    color: rgb(62, 62, 152);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2;
    padding: 0 20px;
    line-height: 1.2;
    max-width: 90%;
    }

.login-card h2 {
    text-align: center;
    margin-bottom: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #212529;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 80%;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background: linear-gradient(to right, #0d6efd, #0a58ca);
    width: 85%;
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: 12px;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, #084298, #052c65);
}
body.register-page button[type="submit"] {
    background: linear-gradient(to right, #28a745, #218838);
}

body.register-page button[type="submit"]:hover {
    background: linear-gradient(to right, #1e7e34, #155724);
}
.register-link {
    text-align: center;
    margin-top: 15px;
}
.register-link a{
    color: #007bff;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}
@media (max-width: 500px) {
    body.login-page::before {
        background: url("/images/amsterdam.jpg") no-repeat center center/cover;
    }
    .site-title {
    font-size: 15px;
    top: 15px;
    max-width: 90%;
    line-height: 1.2;
    }

    .site-subtitle {
    font-size: 10px;
    max-width: 90%;
    line-height: 1.2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
    .login-container{
    max-width: 60%;
    font-size: 15px;
    padding: 30px 15px;
    margin-top: 120px;
    border-radius: 15px;
    }
}
