body.login-page,
body.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

body.login-page::before,
body.register-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("/images/amsterdam.jpg") no-repeat center center/cover;
  z-index: -1;
}

.site-title p{
  margin-bottom: 50px;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  gap: 15px;
}

.form-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

.site-title {
  font-size: 38px;
  color: rgb(1, 1, 34);
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.site-subtitle {
  font-size: 20px;
  color: rgb(36, 36, 48);
  text-align: center;
  margin: 0 0 20px 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 17px;
  padding: 12px;
}

.form-group input {
  width: 400px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #444444;
}

button[type="submit"] {
  width: 300px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 15px;
}

body.register-page button[type="submit"] {
  background-color: #377946;
}

body.register-page button[type="submit"]:hover {
  background-color: #458855;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #002955;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
