#favorites-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* תמיד 3 בעמוד */
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.favorites-header h2 {
  margin-top: 12px;
  margin-bottom: 5px;
}

.favorites-header p {
  margin-top: 9px;
  margin-bottom: 4px;
  font-size: 16.5px;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fffdfd;
  padding: 15px 30px;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  height: 100%;
}

.favorite-card h3 {
  font-size: 20px;
}

.favorite-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card-body {  
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.empty-heart-icon i {
  font-size: 70px;
  color: #dc3545;
}

.card-meta {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
  font-size: 17px;
}

.meta-row i {
  width: 24px;
  text-align: center;
  font-size: 18px;
}

.empty-state {
  text-align: center;
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16.5px;
  padding-top: 100px;
  grid-column: 1/ -1;
}

@media (max-width: 767px) {
#favorites-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 10px;
}
  /* .favorite-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 460px;
    box-sizing: border-box;
  } */

  .favorite-card img {
    height: 160px;
    object-fit: cover;
  }

  .favorite-card h3 {
    font-size: 18px;
  }

  .book-btn {
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #favorites-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}