body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  overflow-wrap: break-word;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #89a8b2;
  box-shadow: 0 2px 8px rgba(215, 13, 13, 0.1);
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #89a8b2;
  border-bottom: 1px solid #ccd8e2;
}

.nav-left,
.nav-left span,
.nav-center li a {
  display: flex;
  align-items: center;
}

.nav-left {
  gap: 14px;
}

.nav-left span {
  font-weight: 600;
  color: #333;
}

.nav-center {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-center li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.nav-center li a.active,
.nav-center li a:hover {
  background-color: #e8f0fe;
  color: #385d84;
  font-weight: 600;
  box-shadow: inset 0 0 0 1px #cfe2ff;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-right a,
#signout-btn {
  text-decoration: none;
  background-color: #f0f2f5;
  color: #333;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-right a:hover,
#signout-btn:hover {
  background-color: #dfe4ea;
  color: #385d84;
  font-weight: 600;
  transform: scale(1.03);
}

#signout-btn::before {
  content: "↶";
  font-weight: bold;
  margin-right: 6px;
}

footer {
  text-align: center;
  padding: 15px 10px 15px;
  background-color: #e5e1da;
  border-top: 1px solid #bcacac;
  font-size: 18px;
}

footer p {
  margin: 6px 0;
}

footer a {
  color: #4b71aa;
  text-decoration: none;
  font-weight: 600;
  margin: 0 6px;
}

footer a:hover {
  text-decoration: underline;
  color: #204771;
}

h2 {
  font-size: 28px;
  font-weight: 520;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

h3 {
  color: #163455;
}

.booking-card:hover,
.favorite-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.02);
  transform: translateY(-3px);
}

.filter-section,
.apartment-card,
.rent-left,
.rent-right {
  background-color: #fffdfd;
  padding: 20px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 32px auto;
  max-width: 900px;
  border: 1px solid #e0e0e0;
}

#filterBtn,
.rent-btn,
button[type="submit"],
.browse-btn,
.book-btn {
  background-color: #44698d;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#filterBtn:hover,
.rent-btn:hover,
button[type="submit"]:hover,
.browse-btn:hover,
.book-btn:hover {
  background-color: #385a8e;
  transform: scale(1.02);
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.browse-btn {
  margin-top: 20px;
  margin-bottom: 30px;
}

.bi-geo-alt-fill {
  color: #1e930c;
}

.bi-star-fill {
  color: gold;
}

.bi-cash-coin {
  color: rgb(120, 191, 120);
}

.hamburger-menu {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.browse-wrapper {
  text-align: center;
  margin-top: 150px;
}

.mybookings-header,
.favorites-header {
  margin: 12px auto 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-sub {
  color: #515151;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 17px;
}

.fav-icon-container,
.favorite-card .heart {
  position: static;
  text-align: right;
  font-size: 42px;
  color: #dc3545;
  cursor: pointer;
  padding-top: 8px;
  padding-left: 12px;
  transition: all 0.3s ease;
}

.fav-icon-container:hover,
.favorite-card .heart:hover {
  transform: scale(1.02);
}

.gold-icon {
  color: gold;
  font-size: 15px;
}

.theme-btn {
  background: none;
  border: none;
  font-size: 22px;
  color: #000000;
  cursor: pointer;
  padding: 6px 10px;
  margin-left: auto;
  transition: transform 0.2s ease;
}

.theme-btn:hover {
  transform: scale(1.1);
}

.nav-right a,
#signout-btn {
  font-weight: 600;
}

.theme-toggle-container {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

body.dark-mode .empty-sub {
  color: #b0b0b0;
}

body.dark-mode .site-title {
  color: #f1f1f1;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
}

body.dark-mode .site-subtitle {
  color: #cccccc;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

body.dark-mode.login-page::before,
body.dark-mode.register-page::before {
  filter: brightness(45%);
}

body.dark-mode .theme-btn {
  color: #f1f1f1;
}

body.dark-mode {
  background-color: #292828;
  color: #e0e0e0;
}

body.dark-mode header,
body.dark-mode .nav-bar,
body.dark-mode footer {
  background-color: #2f2f2f;
  color: #e0e0e0;
  border-color: #717171;
}

body.dark-mode .nav-center li a,
body.dark-mode .nav-left span,
body.dark-mode .nav-right a,
body.dark-mode #signout-btn {
  color: #e0e0e0;
  background-color: #494949;
  border-color: #717171;
}

body.dark-mode .nav-center li a:hover,
body.dark-mode .nav-center li a.active,
body.dark-mode .nav-right a:hover,
body.dark-mode #signout-btn:hover {
  background-color: #524c4c;
  color: #ffffff;
}

body.dark-mode .nav-left span {
  background-color: transparent;
  border: none;
}

body.dark-mode .filter-section,
body.dark-mode .apartment-card,
body.dark-mode .rent-left,
body.dark-mode .rent-right,
body.dark-mode .favorite-card,
body.dark-mode .rent-summary,
body.dark-mode #rental-form,
body.dark-mode .booking-card,
body.dark-mode .login-container,
body.dark-mode .register-container {
  background-color: #3e3e3e;
  border-color: #717171;
  color: #f2f2f2;
}

body.dark-mode .form-group input,
body.dark-mode input[type="number"],
body.dark-mode input[type="date"],
body.dark-mode select {
  background-color: #2b2b2b;
  color: #ffffff;
  border: 1px solid#717171;
}

body.dark-mode .toggle-details-btn {
  background-color: #d3d3d3;
  color: #000000;
  border-color: #2f2727;
  transition: all 0.3s ease;
}

body.dark-mode .toggle-details-btn:hover {
  background-color: #b6b5b5;
  transform: scale(1.03);
}

body.dark-mode .rent-btn,
body.dark-mode .book-btn,
body.dark-mode .browse-btn,
body.dark-mode #filterBtn,
body.dark-mode #resetBtn,
body.dark-mode .cancel-btn,
body.dark-mode button[type="submit"] {
  background-color: #6a6a6a;
  color: #fff;
  border-color: #dadada;
  transition: all 0.3s ease;
}

body.dark-mode .rent-btn:hover,
body.dark-mode .book-btn:hover,
body.dark-mode .browse-btn:hover,
body.dark-mode #filterBtn:hover,
body.dark-mode #resetBtn:hover,
body.dark-mode .cancel-btn:hover {
  background-color: #5e5d5d;
  transform: scale(1.03);
}

body.dark-mode #resetBtn {
  background-color: #c9cac9;
  color: #000000;
}

body.dark-mode .link {
  background-color: #333;
  border-color: #555;
  color: #e0e0e0;
  transition: all 0.3s ease;
}

body.dark-mode .link:hover {
  background-color: #444;
}

body.dark-mode .tab-btn {
  background-color: #2e2e2e;
  color: #ddd;
  border-color: #555;
}

body.dark-mode .tab-btn.active {
  background-color: #555;
  color: #fff;
}

body.dark-mode .badge.upcoming {
  background-color: #5d9c64;
  color: #ffffff;
}

body.dark-mode .badge.past {
  background-color: #620808;
  color: #f8b9b9;
}

body.dark-mode .page-indicator,
body.dark-mode .favorites-header h2,
body.dark-mode .mybookings-header h2,
body.dark-mode .rent-header h2 {
  color: #ffffff;
}

body.dark-mode h3 {
  color: #87b0e1;
}

body.dark-mode .favorite-card .location {
  color: #e5e5e5;
}

body.dark-mode .form-card {
  background-color: #706f6f;
  border: 2px solid #2d2d2d;
  color: #f1f1f1;
}

body.dark-mode.login-page button[type="submit"] {
  background-color: #6995c8;
  color: #ffffff;
  border: none;
  transition: all 0.3s ease;
}

body.dark-mode.login-page button[type="submit"]:hover {
  background-color: #99c2f4;
  transform: scale(1.03);
  color: #000000;
}

body.dark-mode #pagination button {
  background-color: #10161c;
  color: white;
  transition: all 0.3s ease;
}

body.dark-mode #pagination button:hover {
  background-color: #363c4d;
  transform: scale(1.02);
}

body.dark-mode .hero-section {
  background-color: #a6a6a6;
}

body.dark-mode .nav-center {
  background-color: transparent;
  border: none;
}

body.dark-mode .form-btn.small-btn {
  background-color: #3a3a3a;
  color: white;
}

body.dark-mode .form-btn.small-btn:hover {
  background-color: #323232;
}

@media (max-width: 767px) {

  .hamburger-menu {
    display: block;
    align-self: center;
    margin-top: -20px;
  }

  .nav-bar {
    flex-direction: column;
    align-items: center;
  }

  .nav-left {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 2px;
  }

  .nav-center {
    display: none;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    background-color: #89a8b2;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .nav-bar.open .nav-center,
  .nav-bar.open .nav-right {
    display: flex;
  }

  .nav-center li {
    list-style: none;
  }

  .nav-center li a {
    background-color: #d4d9dd;
    color: #2c2c2c;
    padding: 8px 10px;
    margin: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .nav-center li a:hover {
    background-color: #bfc5ca;
    transform: scale(1.02);
  }

  .nav-center li a.active {
    background-color: #8d8d8d;
    color: white;
    border: 1px solid #cccccc;
    box-shadow: inset 0 0 0 1px #ffffff;
  }

  .favorites-header p,
  .rent-header p {
    text-align: center;
  }

  .nav-right {
    margin-top: 8px;
    display: none;
    gap: 10px;
  }

  .theme-btn {
    top: 35px;
    right: 20px;
    font-size: 25px;
  }

  footer {
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
  }

  footer p {
    margin: 10px 0;
  }

  footer a {
    display: inline-block;
    margin: 4px 6px;
    font-size: 14px;
    word-break: break-word;
  }

  .browse-wrapper {
    margin-top: 60px;
  }

}


@media (min-width: 768px) and (max-width: 1100px) {

  .nav-center {
    gap: 20px;
  }

  .nav-center li a {
    gap: 6px;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 14px;
  }

  .nav-right a,
  #signout-btn {
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
  }
  
}