.booking-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 15px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  max-width: 750px;
}

.booking-info {
  flex: 1;
  margin-right: 20px;
}

.booking-img {
  width: 240px;
  height: 160px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.booking-details p {
  margin: 5px 0;
}

.badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.badge.upcoming {
  background-color: #d4f7dc;
  color: #157347;
}

.badge.past {
  background-color: #f7d4d4;
  color: #842029;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.tab-btn {
  background-color: #c4c9cc;
  border: 1px solid #9a9999;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.tab-btn:hover {
  background-color: #8d8d8d;
  border: 1px solid #e8cbcb;
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.tab-btn.active {
  background-color: #4b5c75;
  color: white;
  border-color: #434343;
}

@media (max-width: 768px) {
  .booking-img {
    margin-top: 12px;
  }

  .booking-details p {
    margin-bottom: 12px;
  }
}
